# Build directory and products
/build
*.o
*.lo
*.a
*.la
.libs
/fresample
/libfresample.so

# Archives
*.gz
*.bz2
*.lz
*.lzma
*.Z
*.xz
*.zip

# Generated
/arch.mak
/config.mak

# Autotools
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/*
/missing
/stamp-h1
Makefile
.deps
.dirstamp

# Xcode
*.mode1v3
*.pbxuser
project.xcworkspace
xcuserdata
